.svg-connectable {
  --svg-connectable-width: 140px;
  --svg-connectable-height: 60px;
  --coord-x-min: -9;
  --coord-y-min: -9;
  --coord-x-max: calc(var(--coord-x-min) + 142);
  --coord-y-max: calc(var(--coord-y-min) + 62);
  --coord-x-mid: calc((var(--coord-x-max) / 2) + calc(var(--coord-x-min) / 2));
  --coord-y-mid: calc((var(--coord-y-max) / 2) + calc(var(--coord-y-min) / 2));

  position: relative;
}

.svg-connectable image {
  opacity: 1;
}

.svg-connectable:hover image {
  opacity: 0.4;
}

.svg-connectable:hover image:hover {
  opacity: 1;
  cursor: grab;
}

.svg-connectable:hover image:active {
  opacity: 1;
  cursor: grabbing;
}


.svg-connectable:hover .nw {
  x: var(--coord-x-min);
  y: var(--coord-y-min);
}
.svg-connectable:hover .n {
  x: var(--coord-x-mid);
  y: var(--coord-y-min);
}
.svg-connectable:hover .ne {
  x: var(--coord-x-max);
  y: var(--coord-y-min);
}
.svg-connectable:hover .w {
  x: var(--coord-x-min);
  y: var(--coord-y-mid)
}
.svg-connectable:hover .e {
  x: var(--coord-x-max);
  y: var(--coord-y-mid);
}
.svg-connectable:hover .sw {
  x: var(--coord-x-min);
  y: var(--coord-y-max);
}
.svg-connectable:hover .s {
  x: var(--coord-x-mid);
  y: var(--coord-y-max);
}
.svg-connectable:hover .se {
  x: var(--coord-x-max);
  y: var(--coord-y-max);
}
