.svg-writable-container .text-view::selection {
  background-color: transparent;
}

.svg-writable-container .text-view.typing::after {
  content: "|";
  position: relative;
  top: 0px;
  left: -2px;
  animation: typing-blink  1s step-end infinite;
}

@keyframes typing-blink {
  50% {
    opacity: 0;
  }
}