.svg-writable-container .text-view-wrap {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.svg-writable-container .text-view {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(50, 50, 50);
  white-space: pre-wrap;
  word-break: break-word;
  /* padding: 4px; */
  /* transition: all 0.2s; */
  outline: none;
  overflow: hidden;
  width: auto;
  height: auto;
  margin: 0;
}